In [65]:
import pandas as pd
from datetime import date, timedelta

In [66]:
wt = pd.read_csv('weather_observed_2021.csv',  encoding = "ISO-8859-1")

In [67]:
weather = wt.groupby('observed_date')[['precipitation', 'relativehumidity', 'temperature', 'windspeed']].mean().reset_index()

In [68]:
today_weather['observed_date'] =  pd.to_datetime(today_weather['observed_date'], format='%Y-%m-%d')

In [69]:
weather_2d = today_weather.copy()

In [70]:
weather_2d['observed_date'] = weather_2d['observed_date']+timedelta(2)

In [71]:
weather_2d = weather_2d.rename(columns ={'precipitation': '2d_precipitation', 'relativehumidity':'2d_relativehumidity', 'temperature': '2d_temperature', 'windspeed':'2d_windspeed'} )

In [72]:
weather_2d

,observed_date,2d_precipitation,2d_relativehumidity,2d_temperature,2d_windspeed
0,2021-01-03,0.042417,0.963666,9.837122,1.550320
1,2021-01-04,0.003849,0.932737,6.598472,0.725139
2,2021-01-05,0.000307,0.935693,5.104826,0.528674
3,2021-01-06,0.006160,0.953861,5.045624,0.631756
4,2021-01-07,0.000495,0.962516,5.951128,0.437240
...,...,...,...,...,...
93,2021-04-08,0.000000,0.609635,19.051860,0.971850
94,2021-04-09,0.000000,0.801851,14.471388,0.712416
95,2021-04-10,0.000000,0.631031,16.093765,1.515959
96,2021-04-11,0.000000,0.816828,15.663924,0.889471
97,2021-04-12,0.000000,0.869077,13.391815,0.350736