In [1]:
import pandas as pd

In [2]:
entities = pd.read_csv('data_entities.csv', encoding = "ISO-8859-1",
                                sep=',')

In [5]:
entities.describe()

         latitude   longitude  start_date  end_date
count  186.000000  186.000000         0.0       0.0
mean    41.149168   -8.607758         NaN       NaN
std      0.063302    0.090549         NaN       NaN
min     40.661762   -8.688219         NaN       NaN
25%     41.148390   -8.628430         NaN       NaN
50%     41.155174   -8.611025         NaN       NaN
75%     41.163693   -8.604098         NaN       NaN
max     41.183769   -7.927260         NaN       NaN

Latitude: 40.661762 to 41.183769 	
Longitude: -8.688219 to -7.927260